@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", "sans-serif";
  font-size: 24px;
  margin: 0px;
  padding: 30px 10px;
  font-variant: all-petite-caps;
}

.nav .nav-right {
  width: 440px;
}

.nav .nav--mid {
  text-align: center;
}

.nav .nav--mid img {
  width: 220px;
  margin-top: -1px;
}

.nav .nav--left__list, .nav .nav--mid, .nav .nav--right__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav .nav--left__list h2, .nav .nav--mid h2, .nav .nav--right__list h2 {
  padding: 14px 13px;
}

.nav .nav--left__list .dropdown-content1, .nav .nav--left__list .dropdown-content2, .nav .nav--mid .dropdown-content1, .nav .nav--mid .dropdown-content2, .nav .nav--right__list .dropdown-content1, .nav .nav--right__list .dropdown-content2 {
  display: none;
}

.nav .nav--left__list .nav--left__list--item2:hover .dropdown-content2, .nav .nav--mid .nav--left__list--item2:hover .dropdown-content2, .nav .nav--right__list .nav--left__list--item2:hover .dropdown-content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  position: absolute;
  width: 138px;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  -webkit-box-shadow: 2px 0px 13px lightgray, 2px 2px 13px lightgray;
          box-shadow: 2px 0px 13px lightgray, 2px 2px 13px lightgray;
}

.nav .nav--left__list .nav--left__list--item2:hover .dropdown-content2 a, .nav .nav--mid .nav--left__list--item2:hover .dropdown-content2 a, .nav .nav--right__list .nav--left__list--item2:hover .dropdown-content2 a {
  text-decoration: none;
  color: inherit;
  padding: 7px 10px;
  margin: auto;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav .nav--left__list .nav--left__list--item2:hover .dropdown-content2 a:hover, .nav .nav--mid .nav--left__list--item2:hover .dropdown-content2 a:hover, .nav .nav--right__list .nav--left__list--item2:hover .dropdown-content2 a:hover {
  -webkit-box-shadow: -2px 0px black;
          box-shadow: -2px 0px black;
}

.nav .nav--left__list .nav--left__list--item1:hover .dropdown-content1, .nav .nav--mid .nav--left__list--item1:hover .dropdown-content1, .nav .nav--right__list .nav--left__list--item1:hover .dropdown-content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  position: absolute;
  width: 100px;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  -webkit-box-shadow: 2px 0px 12px lightgray, 2px 2px 12px lightgray;
          box-shadow: 2px 0px 12px lightgray, 2px 2px 12px lightgray;
}

.nav .nav--left__list .nav--left__list--item1:hover .dropdown-content1 a, .nav .nav--mid .nav--left__list--item1:hover .dropdown-content1 a, .nav .nav--right__list .nav--left__list--item1:hover .dropdown-content1 a {
  text-decoration: none;
  color: inherit;
  padding: 7px 10px;
  margin: auto;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav .nav--left__list .nav--left__list--item1:hover .dropdown-content1 a:hover, .nav .nav--mid .nav--left__list--item1:hover .dropdown-content1 a:hover, .nav .nav--right__list .nav--left__list--item1:hover .dropdown-content1 a:hover {
  -webkit-box-shadow: -2px 0px black;
          box-shadow: -2px 0px black;
}

.nav .nav--left__list .nav--left__list__link, .nav .nav--left__list .nav--mid__logo__link, .nav .nav--left__list .nav--right__logo__link, .nav .nav--mid .nav--left__list__link, .nav .nav--mid .nav--mid__logo__link, .nav .nav--mid .nav--right__logo__link, .nav .nav--right__list .nav--left__list__link, .nav .nav--right__list .nav--mid__logo__link, .nav .nav--right__list .nav--right__logo__link {
  margin: 5px;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  border: none;
  display: block;
  position: relative;
}

.nav .nav--left__list .nav--left__list__link li, .nav .nav--left__list .nav--left__list__link .nav--mid__logo__img, .nav .nav--left__list .nav--mid__logo__link li, .nav .nav--left__list .nav--mid__logo__link .nav--mid__logo__img, .nav .nav--left__list .nav--right__logo__link li, .nav .nav--left__list .nav--right__logo__link .nav--mid__logo__img, .nav .nav--mid .nav--left__list__link li, .nav .nav--mid .nav--left__list__link .nav--mid__logo__img, .nav .nav--mid .nav--mid__logo__link li, .nav .nav--mid .nav--mid__logo__link .nav--mid__logo__img, .nav .nav--mid .nav--right__logo__link li, .nav .nav--mid .nav--right__logo__link .nav--mid__logo__img, .nav .nav--right__list .nav--left__list__link li, .nav .nav--right__list .nav--left__list__link .nav--mid__logo__img, .nav .nav--right__list .nav--mid__logo__link li, .nav .nav--right__list .nav--mid__logo__link .nav--mid__logo__img, .nav .nav--right__list .nav--right__logo__link li, .nav .nav--right__list .nav--right__logo__link .nav--mid__logo__img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav .nav--left__list .nav--left__list__link li:before, .nav .nav--left__list .nav--left__list__link .nav--mid__logo__img:before, .nav .nav--left__list .nav--mid__logo__link li:before, .nav .nav--left__list .nav--mid__logo__link .nav--mid__logo__img:before, .nav .nav--left__list .nav--right__logo__link li:before, .nav .nav--left__list .nav--right__logo__link .nav--mid__logo__img:before, .nav .nav--mid .nav--left__list__link li:before, .nav .nav--mid .nav--left__list__link .nav--mid__logo__img:before, .nav .nav--mid .nav--mid__logo__link li:before, .nav .nav--mid .nav--mid__logo__link .nav--mid__logo__img:before, .nav .nav--mid .nav--right__logo__link li:before, .nav .nav--mid .nav--right__logo__link .nav--mid__logo__img:before, .nav .nav--right__list .nav--left__list__link li:before, .nav .nav--right__list .nav--left__list__link .nav--mid__logo__img:before, .nav .nav--right__list .nav--mid__logo__link li:before, .nav .nav--right__list .nav--mid__logo__link .nav--mid__logo__img:before, .nav .nav--right__list .nav--right__logo__link li:before, .nav .nav--right__list .nav--right__logo__link .nav--mid__logo__img:before {
  content: '';
  border-bottom: 1px solid black;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav .nav--left__list .nav--left__list__link li:hover:before, .nav .nav--left__list .nav--left__list__link .nav--mid__logo__img:hover:before, .nav .nav--left__list .nav--mid__logo__link li:hover:before, .nav .nav--left__list .nav--mid__logo__link .nav--mid__logo__img:hover:before, .nav .nav--left__list .nav--right__logo__link li:hover:before, .nav .nav--left__list .nav--right__logo__link .nav--mid__logo__img:hover:before, .nav .nav--mid .nav--left__list__link li:hover:before, .nav .nav--mid .nav--left__list__link .nav--mid__logo__img:hover:before, .nav .nav--mid .nav--mid__logo__link li:hover:before, .nav .nav--mid .nav--mid__logo__link .nav--mid__logo__img:hover:before, .nav .nav--mid .nav--right__logo__link li:hover:before, .nav .nav--mid .nav--right__logo__link .nav--mid__logo__img:hover:before, .nav .nav--right__list .nav--left__list__link li:hover:before, .nav .nav--right__list .nav--left__list__link .nav--mid__logo__img:hover:before, .nav .nav--right__list .nav--mid__logo__link li:hover:before, .nav .nav--right__list .nav--mid__logo__link .nav--mid__logo__img:hover:before, .nav .nav--right__list .nav--right__logo__link li:hover:before, .nav .nav--right__list .nav--right__logo__link .nav--mid__logo__img:hover:before {
  width: 100%;
  padding: 0px;
}
/*# sourceMappingURL=nav.component.css.map */