<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
<div class="nav">
    <div class="nav--left">
        <ul class="nav--left__list">
            <div>
                <a class="nav--left__list__link" href="#">
                    <li class="nav--left__list--item1">
                        <h2>Clothes</h2>
                        <div class="dropdown-content1">
                            <a class="drop-list" href="#">Hoodies</a>
                            <a class="drop-list" href="#">jackets</a>
                            <a class="drop-list" href="#">pants</a>
                            <a class="drop-list" href="#">shirts</a>
                            <a class="drop-list" href="#">shoes</a>
                        </div>
                    </li>
                </a>
            </div>
            <a class="nav--left__list__link" href="#">
                <li class="nav--left__list--item2">
                    <h2>Accessories</h2>
                        <div class="dropdown-content2">
                            <a class="drop-list" href="#">Hoodies</a>
                            <a class="drop-list" href="#">jackets</a>
                            <a class="drop-list" href="#">pants</a>
                            <a class="drop-list" href="#">shirts</a>
                            <a class="drop-list" href="#">shoes</a>
                        </div>
                </li>
            </a>
            <a class="nav--left__list__link"  href="#"><li class="nav--left__list--item3">
                <h2>Brand New</h2>
            </li></a>
            <a class="nav--left__list__link" href="#"><li class="nav--left__list--item4">
                <h2>Sale</h2>
            </li></a>
        </ul>
    </div>

    <div class="nav--mid">
        <div class="nav--mid__logo">
          <a class="nav--mid__logo__link" href="#">
                <div class="nav--mid__logo__img">
                    <img src="./assets/Capture1.PNG">
                </div>
            </a>
        </div>
    </div>

    <div class="nav-right">
        <ul class="nav--right__list">
            <a class="nav--right__logo__link" href="#">
                <li class="nav-right__list-item1">
                    <h2>Sign In</h2>
                </li>
            </a>
            <a class="nav--right__logo__link" href="#">
                <li class="nav-right__list-item1">
                    <h2>Cart(x items)</h2>
                </li>
            </a>
        </ul>
    </div>

</div>
