<div class="sale">

  <h1 class="sale__header">Clothes</h1>

  <div class="sale__pics">
    <ul class="sale__pics__list">

      <li class="sale__pics__list__item1">
        <img src="./assets/clothes/hoodies/1.2.webp" alt="">
        <div class="sale__pics__list__item1__buy">
          <h3 class="sale__pics__list__item1__buy__name">hoodie</h3>
        </div>

        <div class="sale__pics__list__item1__buy--2nd">
          <h3 class="sale__pics__list__item1__buy--2nd__price">PRICE: 35$</h3>
          <h3 class="sale__pics__list__item1__buy--2nd__collection">FALL COLLECTION</h3>
        </div>

        <div class="sale__pics__list__item1__buy--3rd">
          <form class="sale__pics__list__item1__buy--3rd__quaintity">
            <label for="sale__pics__list__item1__buy--3rd__input">INPUT QUANTITY</label>
            <input type="number" min="0" max="30">
            <input type="button" value="submit">
          </form>
        </div>

      <li class="sale__pics__list__item2">
        <img src="./assets/clothes/pants/3.2.jpg" alt="">
        <div class="sale__pics__list__item2__buy">
          <h3 class="sale__pics__list__item2__buy__name">HOODIE</h3>
        </div>

        <div class="sale__pics__list__item2__buy--2nd">
          <h3 class="sale__pics__list__item2__buy--2nd__price">PRICE: 25$</h3>
          <h3 class="sale__pics__list__item2__buy--2nd__collection">FALL COLLECTION</h3>
        </div>

        <div class="sale__pics__list__item2__buy--3rd">
          <form class="sale__pics__list__item2__buy--3rd__quaintity">
            <label for="sale__pics__list__item2__buy--3rd__input">INPUT QUANTITY</label>
            <input type="number" min="0" max="30">
            <input type="button" value="submit">
          </form>
        </div>

      <li class="sale__pics__list__item3">
        <img src="./assets/clothes/jackets/1.1.jpg" alt="">
        <div class="sale__pics__list__item3__buy">
          <h3 class="sale__pics__list__item3__buy__name">hoodie</h3>
        </div>

        <div class="sale__pics__list__item3__buy--2nd">
          <h3 class="sale__pics__list__item3__buy--2nd__price">PRICE: 40$</h3>
          <h3 class="sale__pics__list__item3__buy--2nd__collection">FALL COLLECTION</h3>
        </div>

        <div class="sale__pics__list__item3__buy--3rd">
          <form class="sale__pics__list__item3__buy--3rd__quaintity">
            <label for="sale__pics__list__item3__buy--3rd__input">INPUT QUANTITY</label>
            <input type="number" min="0" max="30">
            <input type="button" value="submit">
          </form>
        </div>
      </li>

    </ul>
  </div>







</div>
