<div class="grid">
  <div class="grid--row1">
    <div class="grid--row1--column1">
      <img src="./assets/accessories/watches/1.2.jpg">
    </div>
    <div class="grid--row1--column2">
      <div class="grid--row1--column2--row1">
        <img src="./assets/accessories/watches/4.1.jpg">
      </div>
      <div class="grid--row1--column2--row2">
        <img src="./assets/accessories/watches/3.1.jpg">
      </div>
    </div>
  </div>
  <div class="grid--row2">
    <div class="grid--row2--column1">
      <img src="./assets/accessories/watches/grid2.jpg">
    </div>
    <div class="grid--row2--column2">
      <img src="./assets/accessories/watches/grid1.webp">
    </div>
  </div>
</div>

<div class="grid2">
  <img src="./assets/accessories/watches/high.jpg" alt="" class="grid2__img">
</div>




