<div class="clothes">
  <div class="clothes__items--hoodie">
    <a href="#">
      <img src="./assets/showcase/h1.jpg">
    </a>

    <div class="clothes__items--hoodie__caption">
      <h1 class="clothes__items--hoodie__caption__header">hoodies</h1>
      <button class="clothes__items--hoodie__caption__more btn btn2">View more</button>
    </div>
  </div>

  <div class="clothes__items--jacket">
    <a href="#">
      <img src="./assets/showcase/jacket.jpg">
    </a>

    <div class="clothes__items--jacket__caption">
      <h1 class="clothes__items--jacket__caption__header">jackets</h1>
      <button class="clothes__items--jacket__caption__more btn btn2">View more</button>
    </div>
  </div>

  <div class="clothes__items--pants">
    <a href="#">
      <img src="./assets/showcase/shorts3.jpg">
    </a>

    <div class="clothes__items--pants__caption">
      <h1 class="clothes__items--pants__caption__header">pants</h1>
      <button class="clothes__items--pants__caption__more btn btn2">View more</button>
    </div>
  </div>

<!--
    <div class="clothes__items--jacket">
      <a href="#">
        <img src="./assets/showcase/jacket.jpg">
        <h1>k;asjdjfaksd</h1>
        <a class="clothes__items--jacket__more">ksadjf;sad</a>
      </a>
    </div>

    <div class="clothes__items--pants">
      <a href="#">
        <img src="./assets/showcase/shorts3.jpg">
        <a class="clothes__items--pants__more">ksadjf;sad</a>
      </a>
    </div> -->

</div>

