.clothes {
  margin-top: 10px;
  height: 800px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", "sans-serif";
}

.clothes .clothes__items--hoodie, .clothes .clothes__items--jacket, .clothes .clothes__items--pants {
  margin: 0px auto;
  height: 800px;
  padding: 0px;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clothes .clothes__items--hoodie .clothes__items--hoodie__caption .btn::before, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .btn::before, .clothes .clothes__items--pants .clothes__items--hoodie__caption .btn::before {
  background: #fdb36d;
}

.clothes .clothes__items--hoodie .clothes__items--jacket__caption .btn::before, .clothes .clothes__items--jacket .clothes__items--jacket__caption .btn::before, .clothes .clothes__items--pants .clothes__items--jacket__caption .btn::before {
  background: #574d44;
}

.clothes .clothes__items--hoodie .clothes__items--pants__caption .btn::before, .clothes .clothes__items--jacket .clothes__items--pants__caption .btn::before, .clothes .clothes__items--pants .clothes__items--pants__caption .btn::before {
  background: #1a2041;
}

.clothes .clothes__items--hoodie .clothes__items--hoodie__caption, .clothes .clothes__items--hoodie .clothes__items--jacket__caption, .clothes .clothes__items--hoodie .clothes__items--pants__caption, .clothes .clothes__items--jacket .clothes__items--hoodie__caption, .clothes .clothes__items--jacket .clothes__items--jacket__caption, .clothes .clothes__items--jacket .clothes__items--pants__caption, .clothes .clothes__items--pants .clothes__items--hoodie__caption, .clothes .clothes__items--pants .clothes__items--jacket__caption, .clothes .clothes__items--pants .clothes__items--pants__caption {
  background-color: rgba(109, 109, 115, 0.466);
  padding: 10px;
  width: 32%;
  height: 65px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.clothes .clothes__items--hoodie .clothes__items--hoodie__caption .btn, .clothes .clothes__items--hoodie .clothes__items--jacket__caption .btn, .clothes .clothes__items--hoodie .clothes__items--pants__caption .btn, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .btn, .clothes .clothes__items--jacket .clothes__items--jacket__caption .btn, .clothes .clothes__items--jacket .clothes__items--pants__caption .btn, .clothes .clothes__items--pants .clothes__items--hoodie__caption .btn, .clothes .clothes__items--pants .clothes__items--jacket__caption .btn, .clothes .clothes__items--pants .clothes__items--pants__caption .btn {
  background: none;
  border: 2px solid #000;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: color 0.4s linear;
  transition: color 0.4s linear;
  position: relative;
}

.clothes .clothes__items--hoodie .clothes__items--hoodie__caption .btn:hover, .clothes .clothes__items--hoodie .clothes__items--jacket__caption .btn:hover, .clothes .clothes__items--hoodie .clothes__items--pants__caption .btn:hover, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .btn:hover, .clothes .clothes__items--jacket .clothes__items--jacket__caption .btn:hover, .clothes .clothes__items--jacket .clothes__items--pants__caption .btn:hover, .clothes .clothes__items--pants .clothes__items--hoodie__caption .btn:hover, .clothes .clothes__items--pants .clothes__items--jacket__caption .btn:hover, .clothes .clothes__items--pants .clothes__items--pants__caption .btn:hover {
  color: #fff;
}

.clothes .clothes__items--hoodie .clothes__items--hoodie__caption .btn::before, .clothes .clothes__items--hoodie .clothes__items--jacket__caption .btn::before, .clothes .clothes__items--hoodie .clothes__items--pants__caption .btn::before, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .btn::before, .clothes .clothes__items--jacket .clothes__items--jacket__caption .btn::before, .clothes .clothes__items--jacket .clothes__items--pants__caption .btn::before, .clothes .clothes__items--pants .clothes__items--hoodie__caption .btn::before, .clothes .clothes__items--pants .clothes__items--jacket__caption .btn::before, .clothes .clothes__items--pants .clothes__items--pants__caption .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.clothes .clothes__items--hoodie .clothes__items--hoodie__caption .btn1::before, .clothes .clothes__items--hoodie .clothes__items--jacket__caption .btn1::before, .clothes .clothes__items--hoodie .clothes__items--pants__caption .btn1::before, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .btn1::before, .clothes .clothes__items--jacket .clothes__items--jacket__caption .btn1::before, .clothes .clothes__items--jacket .clothes__items--pants__caption .btn1::before, .clothes .clothes__items--pants .clothes__items--hoodie__caption .btn1::before, .clothes .clothes__items--pants .clothes__items--jacket__caption .btn1::before, .clothes .clothes__items--pants .clothes__items--pants__caption .btn1::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.clothes .clothes__items--hoodie .clothes__items--hoodie__caption .btn2::before, .clothes .clothes__items--hoodie .clothes__items--jacket__caption .btn2::before, .clothes .clothes__items--hoodie .clothes__items--pants__caption .btn2::before, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .btn2::before, .clothes .clothes__items--jacket .clothes__items--jacket__caption .btn2::before, .clothes .clothes__items--jacket .clothes__items--pants__caption .btn2::before, .clothes .clothes__items--pants .clothes__items--hoodie__caption .btn2::before, .clothes .clothes__items--pants .clothes__items--jacket__caption .btn2::before, .clothes .clothes__items--pants .clothes__items--pants__caption .btn2::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.clothes .clothes__items--hoodie .clothes__items--hoodie__caption .btn1:hover::before, .clothes .clothes__items--hoodie .clothes__items--jacket__caption .btn1:hover::before, .clothes .clothes__items--hoodie .clothes__items--pants__caption .btn1:hover::before, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .btn1:hover::before, .clothes .clothes__items--jacket .clothes__items--jacket__caption .btn1:hover::before, .clothes .clothes__items--jacket .clothes__items--pants__caption .btn1:hover::before, .clothes .clothes__items--pants .clothes__items--hoodie__caption .btn1:hover::before, .clothes .clothes__items--pants .clothes__items--jacket__caption .btn1:hover::before, .clothes .clothes__items--pants .clothes__items--pants__caption .btn1:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.clothes .clothes__items--hoodie .clothes__items--hoodie__caption .btn2:hover::before, .clothes .clothes__items--hoodie .clothes__items--jacket__caption .btn2:hover::before, .clothes .clothes__items--hoodie .clothes__items--pants__caption .btn2:hover::before, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .btn2:hover::before, .clothes .clothes__items--jacket .clothes__items--jacket__caption .btn2:hover::before, .clothes .clothes__items--jacket .clothes__items--pants__caption .btn2:hover::before, .clothes .clothes__items--pants .clothes__items--hoodie__caption .btn2:hover::before, .clothes .clothes__items--pants .clothes__items--jacket__caption .btn2:hover::before, .clothes .clothes__items--pants .clothes__items--pants__caption .btn2:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.clothes .clothes__items--hoodie .clothes__items--hoodie__caption .clothes__items--hoodie__caption__header, .clothes .clothes__items--hoodie .clothes__items--hoodie__caption .clothes__items--jacket__caption__header, .clothes .clothes__items--hoodie .clothes__items--hoodie__caption .clothes__items--pants__caption__header, .clothes .clothes__items--hoodie .clothes__items--jacket__caption .clothes__items--hoodie__caption__header, .clothes .clothes__items--hoodie .clothes__items--jacket__caption .clothes__items--jacket__caption__header, .clothes .clothes__items--hoodie .clothes__items--jacket__caption .clothes__items--pants__caption__header, .clothes .clothes__items--hoodie .clothes__items--pants__caption .clothes__items--hoodie__caption__header, .clothes .clothes__items--hoodie .clothes__items--pants__caption .clothes__items--jacket__caption__header, .clothes .clothes__items--hoodie .clothes__items--pants__caption .clothes__items--pants__caption__header, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .clothes__items--hoodie__caption__header, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .clothes__items--jacket__caption__header, .clothes .clothes__items--jacket .clothes__items--hoodie__caption .clothes__items--pants__caption__header, .clothes .clothes__items--jacket .clothes__items--jacket__caption .clothes__items--hoodie__caption__header, .clothes .clothes__items--jacket .clothes__items--jacket__caption .clothes__items--jacket__caption__header, .clothes .clothes__items--jacket .clothes__items--jacket__caption .clothes__items--pants__caption__header, .clothes .clothes__items--jacket .clothes__items--pants__caption .clothes__items--hoodie__caption__header, .clothes .clothes__items--jacket .clothes__items--pants__caption .clothes__items--jacket__caption__header, .clothes .clothes__items--jacket .clothes__items--pants__caption .clothes__items--pants__caption__header, .clothes .clothes__items--pants .clothes__items--hoodie__caption .clothes__items--hoodie__caption__header, .clothes .clothes__items--pants .clothes__items--hoodie__caption .clothes__items--jacket__caption__header, .clothes .clothes__items--pants .clothes__items--hoodie__caption .clothes__items--pants__caption__header, .clothes .clothes__items--pants .clothes__items--jacket__caption .clothes__items--hoodie__caption__header, .clothes .clothes__items--pants .clothes__items--jacket__caption .clothes__items--jacket__caption__header, .clothes .clothes__items--pants .clothes__items--jacket__caption .clothes__items--pants__caption__header, .clothes .clothes__items--pants .clothes__items--pants__caption .clothes__items--hoodie__caption__header, .clothes .clothes__items--pants .clothes__items--pants__caption .clothes__items--jacket__caption__header, .clothes .clothes__items--pants .clothes__items--pants__caption .clothes__items--pants__caption__header {
  color: black;
  font-size: 25px;
  text-transform: uppercase;
}

.clothes .clothes__items--hoodie a, .clothes .clothes__items--jacket a, .clothes .clothes__items--pants a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.clothes .clothes__items--hoodie a img, .clothes .clothes__items--jacket a img, .clothes .clothes__items--pants a img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 10s ease;
  transition: -webkit-transform 10s ease;
  transition: transform 10s ease;
  transition: transform 10s ease, -webkit-transform 10s ease;
  z-index: -1;
}

.clothes .clothes__items--hoodie a img:hover, .clothes .clothes__items--jacket a img:hover, .clothes .clothes__items--pants a img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
/*# sourceMappingURL=showcase1.component.css.map */